<div id="main-div">
  <mat-card>
    <mat-card-content id="card">
      <mat-form-field id="Session-Key-Input">
        <mat-label>Session-Key</mat-label>
        <input matInput [(ngModel)]="sessionKey">
      </mat-form-field>

      <mat-card-actions>
        <button
          id="join-button"
          mat-raised-button
          color="primary"
          (click)="joinSession(sessionKey)"
        >
        Join
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>

  <button
    id="guest-login-button"
    mat-stroked-button color="primary"
    (click)="guestLogin()"
  >Create New Session!
  </button>

</div>
