button {
  height: 50px;
  width: 100%;
}

#join-button {
  margin-right: 5%;
  width: 110px;
}

#guest-login-button {
  margin-top: 1%;
  width: 40%;
  display: block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

mat-form-field {
  display: block;
}

mat-card {
  width: 40%;
  margin-top: 10%;
}

#Session-Key-Input {
  width: 100%;
  height: 55px;
}

#main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin-top: 10%;
}

#card {
  display: flex;
  align-items: center;
  align-content: center;
}
