#container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

#textarea {
  width: 100%;
  height: 500px;
}

#button-container {
  display: flex;
  height: 60px;
}

.button {
  margin-right: 15px;
}
