<div id="container">
  <div id="websocket-status" class="status-indicator">
    <mat-icon *ngIf="isWebSocketConnected" class="green-checkmark">check_circle</mat-icon>
    <span *ngIf="isWebSocketConnected">WebSocket connection established</span>

    <mat-spinner id="ws-spinner" diameter="22" *ngIf="!isWebSocketConnected"></mat-spinner>
    <span *ngIf="!isWebSocketConnected">Establishing WebSocket connection</span>
  </div>

  <mat-form-field>
    <mat-label>Text Area</mat-label>
    <textarea matInput id="textarea" [(ngModel)]="text" (input)="onTextChange()"></textarea>
  </mat-form-field>

  <div id="button-container">
    <button mat-raised-button class="button" (click)="saveText()" *ngIf="!isWebSocketConnected">Save</button>
    <button mat-raised-button class="button" (click)="clearText()" *ngIf="!isWebSocketConnected">Clear</button>
    <button mat-raised-button class="button" (click)="loadText()" *ngIf="!isWebSocketConnected"> Refresh</button>
    <button mat-raised-button class="button" (click)="copyTextToClipboard()">Copy to Clipboard</button>
  </div>
</div>
